name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run semantic-release
        id: semantic_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run release | tee release.log

      - name: Extract tag from semantic-release log
        id: extract_tag
        run: |
          TAG=$(grep -oE 'Created tag v[0-9]+\.[0-9]+\.[0-9]+' release.log | awk '{print $3}')
          if [ -z "$TAG" ]; then
            echo "No tag created by semantic-release. Skipping Docker build."
          else
            echo "Tag found: $TAG"
            echo "tag=$TAG" >> $GITHUB_ENV
          fi

      - name: Build Docker image
        if: env.tag
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/flynow:${{ env.tag }} .

      - name: Login to Docker Hub
        if: env.tag
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Docker image
        if: env.tag
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/flynow:${{ env.tag }}
